<!-- SIDENAV HEADER -->
<div class="header md-accent-bg" layout="column" layout-align="space-between">
    <div class="toolbar" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="Delete"
                   >
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span >Delete</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Download" >
            <md-icon md-font-icon="icon-download"></md-icon>
            <md-tooltip><span >Download</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="More" >
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            <md-tooltip><span >More</span></md-tooltip>
        </md-button>
    </div>

    <div>
        <div class="title">{{vm.selected.name}}</div>
        <div class="subtitle secondary-text"><span >Edited</span>: {{vm.selected.modified}}</div>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="file-details">
        <div class="preview file-icon" layout="row" layout-align="center center">
            <i class="icon-{{vm.selected.type}} s48"></i>
        </div>

        <md-list class="offline-switch">
            <md-list-item>
                <p >Available Offline</p>
                <md-switch class="md-secondary" ng-model="vm.selected.offline" aria-label="Toggle offline"
                           ></md-switch>
            </md-list-item>
        </md-list>

        <div class="title" >Info</div>

        <table>
            <tr class="type">
                <th >Type</th>
                <td>{{vm.selected.type}}</td>
            </tr>

            <tr class="size">
                <th >Size</th>
                <td>{{vm.selected.size === '' ? '-': vm.selected.size}}</td>
            </tr>

            <tr class="location">
                <th >Location</th>
                <td>{{vm.selected.location}}</td>
            </tr>

            <tr class="owner">
                <th >Owner</th>
                <td>{{vm.selected.owner}}</td>
            </tr>

            <tr class="modified">
                <th >Modified</th>
                <td>{{vm.selected.modified}}</td>
            </tr>

            <tr class="opened">
                <th >Opened</th>
                <td>{{vm.selected.opened}}</td>
            </tr>

            <tr class="created">
                <th >Created</th>
                <td>{{vm.selected.created}}</td>
            </tr>
        </table>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
