#profile,#sign-candidate {

  background: rgba(84,51,85,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84,51,85,1)), color-stop(100%, rgba(102,66,95,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: radial-gradient(ellipse at center, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543355', endColorstr='#66425f', GradientType=1 );

  .profile-wrapper {
    margin-top: 50px;
  }

  .progress-wrapper {
    margin-top:40px;
    position: relative;
    width:100%;
    text-align: center;
  }
  .progress {
    width:100%;
    margin-top:27px;
    position:absolute;
  }
  min-height:100%;

  md-content {
    background: none;
    background-color: rgba(255,255,0,0);
  }

  .profile-wrapper {
    width:66%;
    max-width: 650px;
  }

  .angular-google-map-container {
    height: 400px;
  }

    .add-portfolio-button  {
        position: fixed;
        right: 16px;
        bottom:16px;
        transition: all 300ms ease;
        opacity: 1;
        z-index:20;
    }

  .user-info {

  }
    .add-portfolio-button.ng-hide-add, .add-portfolio-button.ng-hide-remove {
        transition: all ease 0.5s;
    }

    .add-portfolio-button.ng-hide {
        position: fixed;
        opacity: 0;
        right: -32px;
    }

    .add-portfolio-button.ng-hide-add, .add-portfolio-button.ng-hide-remove {
        transition: all ease 0.5s;
    }

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/march.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .actions {

            .md-button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    .blocco {
      width:33%;
      margin:0px;
    }
    // Profile boxes
    .profile-box {
      width:45%;
      margin-right:16px;
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/**
 * As defined in core/style/variables.scss
 *
 * $layout-breakpoint-xs:     600px !default;
 * $layout-breakpoint-sm:     960px !default;
 * $layout-breakpoint-md:     1280px !default;
 * $layout-breakpoint-lg:     1920px !default;
 *
 */
// RESPONSIVE

@media screen and (min-width: $layout-breakpoint-lg) {

  #profile,#sign-candidate {
    .profile-box {
      width: 700px;
    }
  }
}
@media screen and (max-width: $layout-breakpoint-sm) {

    #profile,#sign-candidate {

      .profile-wrapper {
        width: 100%;
        max-width: 100%;
        margin-top:10px;
      }
      .profile-box {
        width:100%;
      }

        .header {
          height: 240px;
            .profile-image {
                margin: 0 0 16px 0;
            }

            .name {
                margin-bottom: 32px;
            }
        }
    }

}
.a-card {
    padding:8px;
}

.preview {
    width:250px;
    height:100%;
}

.uppo {
    position:absolute;
    z-index: 50;
    top:50px;
    right:30px;
}
.cropContainer {
    background-color: white;
    position:absolute;
    z-index:50;

    md-whiteframe {
        padding:10px;
    }
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}




.cropContainer.ng-hide-add, .cropContainer.ng-hide-remove {
    transition: all ease 0.5s;
}

.cropContainer.ng-hide {
    opacity: 0;
}

.fixed-element {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #aaa;
}
