<div id="profile" class="page-layout simple tabbed">

  <!-- CONTENT -->
  <md-content md-theme="default">

    <md-tabs md-dynamic-height md-border-bottom md-selected="vm.profileTab">
      <md-tab label="one">
        <md-content class="md-padding">
          <div layout="column" flex layout-align="center center">
            <div layout="row" layout-xs="column" class="profile-wrapper">
              <!-- profile info -->

              <div class="profile-info" flex="40" flex-xs="100" layout="column" layout-align="center start">
                <div flex="50">

                  <div class="progress-wrapper">
                    <div class="progress">33%</div>
                    <div
                      round-progress
                      max="max"
                      current="current"
                      color="#45ccce"
                      bgcolor="#eaeaea"
                      radius="35"
                      stroke="6"
                      semi="false"
                      rounded="true"
                      clockwise="false"
                      responsive="false"
                      duration="100"
                      animation="easeInOutQuart"
                      animation-delay="0">

                    </div>
                  </div>
                </div>

                <h1>Working<br/>Preferences</h1>

                <p>blah blah blah blah</p>
              </div>
              <!-- end of profile info -->
              <!-- profile fields -->

              <div class="profile-fields" flex="60" flex-xs="100" layout="column">
                <div layout="row" layout-sm="column" flex>
                  <md-input-container flex>
                    <label>First Name</label>
                    <input name="fields_name" ng-model="vm.data.firstname">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Last name</label>
                    <input ng-model="vm.data.lastname">
                  </md-input-container>
                </div>
                <md-input-container flex>
                  <label>Email</label>
                  <input name="theEmail" ng-model="vm.data.email" required="required" type="email">
                </md-input-container>
                <md-input-container flex class="md-block">
                  <label>Contact Number</label>
                  <input required ng-model="vm.data.contactnumber">
                </md-input-container>
              </div>
              <!-- end of profile fields -->
            </div>


          </div>



        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <div layout="column" flex layout-align="center center">
            <div layout="row" layout-xs="column" class="profile-wrapper">
              <!-- profile info -->

              <div class="profile-info" flex="40" flex-xs="100" layout="column" layout-align="center start">
                <div flex="50">
                  <div class="progress-wrapper">
                    <div class="progress">33%</div>
                    <div
                      round-progress
                      max="max"
                      current="current"
                      color="#45ccce"
                      bgcolor="#eaeaea"
                      radius="35"
                      stroke="6"
                      semi="false"
                      rounded="true"
                      clockwise="false"
                      responsive="false"
                      duration="100"
                      animation="easeInOutQuart"
                      animation-delay="0">

                    </div>
                  </div>
                </div>

                <h1>Professional<br/>Information</h1>

                <p>blah blah blah blah</p>
              </div>
              <!-- end of profile info -->

              <!-- profile fields -->

              <div class="profile-fields" flex="60" flex-xs="100" layout="column">
                <md-input-container class="md-block">
                  <label>Your Job Title</label>
                  <input ng-model="vm.data.jobtitle" required="required">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Biography</label>
                  <textarea ng-model="vm.data.biography" columns="1" md-maxlength="900" rows="5"></textarea>
                </md-input-container>

              </div>

              <!-- profile fields -->

            </div>


          </div>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <div layout="column" flex layout-align="center center">
            <div layout="row" layout-xs="column" class="profile-wrapper">
              <!-- profile info -->
              <div class="profile-info" flex="40" flex-xs="100" layout="column" layout-align="center start">
                <div flex="50">
                  <div class="progress-wrapper">
                    <div class="progress">33%</div>
                    <div
                      round-progress
                      max="max"
                      current="current"
                      color="#45ccce"
                      bgcolor="#eaeaea"
                      radius="35"
                      stroke="6"
                      semi="false"
                      rounded="true"
                      clockwise="false"
                      responsive="false"
                      duration="100"
                      animation="easeInOutQuart"
                      animation-delay="0">

                    </div>
                  </div>
                </div>

                <h1>Working<br/>Preferences</h1>

                <p>blah blah blah blah</p>
              </div>
              <!-- end profile info -->
              <!-- profile fields -->
              <div class="profile-fields" flex="60" flex-xs="100" layout="column">
                <md-input-container flex>
                  <label>Your Level</label>
                  <md-select ng-model="vm.data.level" required>
                    <md-option ng-repeat="level in vm.levels" value="{{level}}">
                      {{level}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container flex>
                  <label>Last name</label>
                  <input ng-model="vm.data.lastname">
                </md-input-container>
                <md-input-container flex>
                  <label>Last name</label>
                  <input ng-model="vm.data.lastname">
                </md-input-container>
                <div layout="column" layout-gt-md="row" flex layout-align-gt-md="space-between start">

                  <md-input-container flex>
                    <label>Location</label>
                    <input ng-model="vm.data.location" required>
                  </md-input-container>

                  <md-input-container flex>
                    <label>Postal Code (no spaces)</label>
                    <input name="postalCode" ng-change="vm.changeRate()" ng-model="vm.data.postcode"
                           required="required" md-maxlength="10">

                  </md-input-container>
                </div>
                <div layout="row">
                  <md-input-container flex>
                    <label>Google Locarin</label>
                    <input id="place" ng-change="vm.changemap()" ng-model="vm.data.rawLocation">

                  </md-input-container>
                  <button ng-click="vm.doSearch()" class="btn btn-large btn-primary">Search</button>
                </div>
                <div layout="row">
                  {{vm.data.simpleMarkerMap}}
                </div>
                <md-input-container flex>
                  <label>Geo </label>
                  <input name="geoCoords" ng-model="vm.data.geoCoords"
                         required="required">

                </md-input-container>

                <md-input-container class="md-block">
                  <label>What makes you stand out?</label>
                  <textarea ng-model="vm.data.standout" columns="1" md-maxlength="300" required rows="5"></textarea>
                </md-input-container>

                <md-input-container flex>
                  <label>Your Level</label>
                  <md-select ng-model="vm.data.level" required>
                    <md-option ng-repeat="level in vm.levels" value="{{level}}">
                      {{level}}
                    </md-option>
                  </md-select>
                </md-input-container>


                <!-- end of profile info -->
              </div>
              <!-- end profile fields -->
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="four">
        <md-content class="md-padding">
          <div layout="column" flex layout-align="center center">
            <div layout="row" layout-xs="column" class="profile-wrapper">
              <!-- profile info -->

              <div class="profile-info" flex="40" flex-xs="100" layout="column" layout-align="center start">
                <div flex="50">
                  <div class="progress-wrapper">
                    <div class="progress">33%</div>
                    <div
                      round-progress
                      max="max"
                      current="current"
                      color="#45ccce"
                      bgcolor="#eaeaea"
                      radius="35"
                      stroke="6"
                      semi="false"
                      rounded="true"
                      clockwise="false"
                      responsive="false"
                      duration="100"
                      animation="easeInOutQuart"
                      animation-delay="0">

                    </div>
                  </div>
                </div>

                <h1>Working<br/>Preferences</h1>

                <p>blah blah blah blah</p>
              </div>
              <!-- end of profile info -->

              <!-- profile fields -->

              <div class="profile-fields" flex="60" flex-xs="100" layout="column">
                <div layout="row" layout-sm="column" flex>
                  <md-input-container flex>
                    <label>First Name</label>
                    <input name="fields_name" ng-model="vm.firstname">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Last name</label>
                    <input ng-model="vm.lastname">
                  </md-input-container>
                </div>
                <md-input-container flex>
                  <label>Email</label>
                  <input name="theEmail" ng-model="vm.email" required="required" type="email">
                </md-input-container>
                <md-input-container flex class="md-block">
                  <label>Contact Number</label>
                  <input required ng-model="vm.contactnumber">
                </md-input-container>
              </div>

              <!-- end of profile fields -->

            </div>

          </div>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-content>

  <!-- spare tab -->
  <!--<md-tab label="four">-->
    <!--<md-content class="md-padding">-->
      <!--<div layout="column" flex layout-align="center center">-->
        <!--<div layout="row" layout-xs="column" class="profile-wrapper">-->
          <!--&lt;!&ndash; profile info &ndash;&gt;-->

          <!--<div class="profile-info" flex="40" flex-xs="100" layout="column" layout-align="center start">-->

            <!---->
          <!--</div>-->
          <!--&lt;!&ndash; end of profile info &ndash;&gt;-->

          <!--&lt;!&ndash; profile fields &ndash;&gt;-->

          <!--<div class="profile-fields" flex="60" flex-xs="100" layout="column">-->
            <!---->
          <!--</div>-->

          <!--&lt;!&ndash; end of profile fields &ndash;&gt;-->

        <!--</div>-->

      <!--</div>-->
    <!--</md-content>-->
  <!--</md-tab>-->
  <!-- -->

  <md-button ng-show="vm.profileTabs==1" class="md-fab md-warn add-portfolio-button"
             ng-click="vm.showAdvanced(event,{description:'ciao'})" aria-label="Add Work">
    <md-icon md-font-icon="icon-plus"></md-icon>
  </md-button>
</div>

<!-- / CONTENT -->
<script type="text/ng-template" id="portfolio.tmpl.html">
  <md-dialog aria-label="Sunrise" flex="70">
    <form ng-submit="answer(content)">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Showcase your work</h2>
          <span flex></span>

        </div>
      </md-toolbar>
      <md-dialog-content>
        <div layout="row" flex>
          <img class="preview" ngf-thumbnail="content.picFile || 'assets/images/picplaceholder.jpg'"
          >
          <md-input-container flex class="md-block">
            <label>Description</label>
                            <textarea ng-model="content.description" columns="1" md-maxlength="600" required
                                      rows="5"></textarea>
          </md-input-container>
        </div>
        <div layout="row">
          <md-button ngf-resize="{width: 400,quality: .8, type: 'image/jpg'}"
                     class="md-primary md-raised md-fab uppo" ngf-select ngf-multiple="false"
                     ng-model="content.picFile" name="file"
                     accept="image/*" ngf-max-size="2MB" required aria-label="upload">
            <md-icon md-font-icon="icon-cloud-upload"></md-icon>
          </md-button>

        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">

        <span flex></span>
        <md-button type="submit" class="md-primary">
          SAVE
        </md-button>
        <md-button ng-click="answer(null)" class="md-primary">
          CANCEL
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
<div id="dummy"></div>
