<md-progress-linear flex md-mode="indeterminate" ng-if="$root.loadingProgress"></md-progress-linear>
<div id="sign-candidate" md-theme="default" class="page-layout simple fullwidth doc-page" layout="column">

  <!-- CONTENT -->
  <div class="content" layout="column">

    <div layout="row">

      <!-- FORM WIZARD -->
      <ms-form-wizard flex>
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <md-tab>
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Personal Information</span>
                            </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                <div layout="column" flex layout-align="center center">
                  <div layout="column" layout-gt-sm="row" class="profile-wrapper">
                    <!-- profile info -->

                    <div class="profile-info" flex="80" flex-xs="100" layout="column" layout-align="start start">

                      <div layout="column" ng-show="vm.profilePic" class="cropContainer">
                        <md-whiteframe class="md-whiteframe-2dp">
                          <h2>Please select the area to crop</h2>

                          <div ngf-drop ng-model="vm.profilePic" ngf-pattern="image/*"
                               class="cropArea">
                            <img-crop image="vm.profilePic  | ngfDataUrl"
                                      result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">
                            </img-crop>
                          </div>
                          <div layout="row">
                            <md-button class="md-raised md-accent" ng-click="vm.uploadProfile(vm.croppedDataUrl)">
                              Confirm
                            </md-button>
                            <md-button class="md-raised md-accent" ng-click="vm.profilePic=null">Cancel</md-button>
                          </div>
                        </md-whiteframe>
                      </div>

                      <div>
                        <div class="progress-wrapper">
                          <div class="progress">33%</div>
                          <div
                            round-progress
                            max="max"
                            current="current"
                            color="#45ccce"
                            bgcolor="#eaeaea"
                            radius="35"
                            stroke="6"
                            semi="false"
                            rounded="true"
                            clockwise="false"
                            responsive="false"
                            duration="100"
                            animation="easeInOutQuart"
                            animation-delay="0">

                          </div>
                        </div>
                      </div>

                      <h1>Just a few more bits</h1>

                      <p>blah blah blah blah</p>
                    </div>
                    <!-- end of profile info -->
                    <!-- profile fields -->

                    <div class="profile-fields" flex="60" flex-xs="100" layout="column">
                      <div layout="row" layout-align="start start">
                        <img class="profile-image avatar huge"
                             ng-src="{{vm.data.profileImgURL || 'assets/images/avatars/katherine.jpg'}}">

                        <div layout="column">
                          <md-button class="md-accent-bg profileUpBut" ngf-select ng-model="vm.profilePic"
                                     accept="image/*">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            upload profile pic
                          </md-button>
                          <md-button class="md-raised md-accent" ng-click="vm.saveCandidate()">Save (temporary button)
                          </md-button>
                        </div>
                      </div>


                      <div layout="row" flex>
                        <h2>About you</h2>
                      </div>

                      <md-input-container flex>
                        <label>First Name</label>
                        <input name="fields_name" ng-model="vm.data.firstname">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Last name</label>
                        <input ng-model="vm.data.lastname">
                      </md-input-container>

                      <md-input-container flex>
                        <label>Email</label>
                        <input name="theEmail" ng-model="vm.data.email" required="required" type="email">
                      </md-input-container>
                      <md-input-container flex class="md-block">
                        <label>Contact Number</label>
                        <input required ng-model="vm.data.contactnumber">
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Your Job Title</label>
                        <input ng-model="vm.data.jobtitle" required="required">
                      </md-input-container>
                      <md-input-container class="md-block">
                        <label>Biography</label>
                        <textarea ng-model="vm.data.biography" columns="1" md-maxlength="900" rows="5"></textarea>
                      </md-input-container>
                      <div layout="column" layout-gt-md="row" flex>
                        <md-input-container flex>
                          <label>Minimum (£)</label>
                          <input type="number" required="required"
                                 ng-change="vm.changeRate()" step="any"
                                 name="rate" ng-model="vm.data.hourlymin"
                                 min="1" max="4999"></md-input-container>
                        <md-input-container flex>
                          <label>Epected (£)</label>
                          <input type="number" required="required"
                                 ng-change="vm.changeRate()" step="any"
                                 name="rate" ng-model="vm.data.hourlymax"
                                 min="1" max="4999">
                        </md-input-container>
                      </div>
                      <!--md-chips ng-model="vm.data.skilltags"></md-chips-->
                    </div>
                    <!-- end of profile fields -->
                  </div>


                </div>
              </form>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="wizardStep1.$invalid">
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Work Timeline</span>
                            </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep2" ms-form-wizard-form novalidate>
                <md-input-container class="md-block" hide>
                  <label>Address</label>
                                    <textarea ng-model="vm.formWizard.address" columns="1" md-maxlength="150"
                                              rows="5" required></textarea>
                </md-input-container>

              </form>

              <!-- profile info -->

              <div class="profile-info" flex="80" flex-xs="100" layout="column" layout-align="start start">

                <div layout="column" ng-show="vm.profilePic" class="cropContainer">
                  <md-whiteframe class="md-whiteframe-2dp">
                    <h2>Please select the area to crop</h2>

                    <div ngf-drop ng-model="vm.profilePic" ngf-pattern="image/*"
                         class="cropArea">
                      <img-crop image="vm.profilePic  | ngfDataUrl"
                                result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">
                      </img-crop>
                    </div>
                    <div layout="row">
                      <md-button class="md-raised md-accent" ng-click="vm.uploadProfile(vm.croppedDataUrl)">Confirm
                      </md-button>
                      <md-button class="md-raised md-accent" ng-click="vm.profilePic=null">Cancel</md-button>
                    </div>
                  </md-whiteframe>
                </div>

                <div>
                  <div class="progress-wrapper">
                    <div class="progress">33%</div>
                    <div
                      round-progress
                      max="max"
                      current="current"
                      color="#45ccce"
                      bgcolor="#eaeaea"
                      radius="35"
                      stroke="6"
                      semi="false"
                      rounded="true"
                      clockwise="false"
                      responsive="false"
                      duration="100"
                      animation="easeInOutQuart"
                      animation-delay="0">

                    </div>
                  </div>
                </div>

                <h1>Just a few more bits</h1>

                <p>blah blah blah blah</p>
              </div>
              <!-- end of profile info -->
              <div class="profile-info" flex="80" flex-xs="100" layout="column" layout-align="start start">
                <md-button ng-click="vm.openTimeDialog($event,-1)">Add work place</md-button>
                <timeline>
                  <timeline-badge class="danger">

                  </timeline-badge>
                  <timeline-event ng-repeat="event in vm.timeline" side="{{side}}">
                    <timeline-badge class="primary">
                      <div>{{event.jobType}}</div>
                    </timeline-badge>
                    <timeline-panel class="{{event.badgeClass}}">
                      <timeline-heading>
                        <h4>{{event.companyName}}</h4>
                      </timeline-heading>
                      <p>{{formatDate(event.beginDate,false)}}</p>
                      <p>{{event.workRole}}</p>
                      <p>{{event.description}}</p>
                      <div class="buttons m-8">

                        <md-button ng-click="vm.openTimeDialog($event,event.index)" class="md-icon-button mr-16"
                                   aria-label="Favorite">

                          <md-icon md-font-icon="icon-table-edit" class="s24"></md-icon>
                        </md-button>
                        <md-button ng-click="card.objPointer.deleteTimelineItem(card)" class="md-icon-button mr-16"
                                   aria-label="Favorite">
                          <md-icon md-font-icon="icon-delete" class="s24"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-accent" ng-hide="true"
                                   ng-click="card.objPointer.saveTimelineItem(card)"
                                   aria-label="Use Android">SAVE
                        </md-button>

                      </div>
                    </timeline-panel>
                  </timeline-event>
                </timeline>
              </div>


            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">SUBMIT</span>
                            </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep3" ms-form-wizard-form novalidate>
                <md-input-container class="md-block">
                  <input type="text" name="cardholder" ng-model="vm.formWizard.cardholder"
                         placeholder="Card Holder"
                         required>
                  <div ng-messages="wizardStep3.cardholder.$error"
                       ng-show="wizardStep3.cardholder.$dirty"
                       role="alert">
                    <div ng-message="required">
                      <span>Card holder field is required.</span>
                    </div>
                  </div>
                </md-input-container>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="cardnumber" ng-model="vm.formWizard.cardnumber"
                           placeholder="Card Number"
                           required>
                    <div ng-messages="wizardStep3.cardnumber.$error"
                         ng-show="wizardStep3.cardnumber.$dirty"
                         role="alert">
                      <div ng-message="required">
                        <span>Card number field is required.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="CC2" ng-model="vm.formWizard.cc2"
                           placeholder="CC2" md-maxlength="3"
                           required>
                    <div ng-messages="wizardStep3.cc2.$error"
                         ng-show="wizardStep3.cc2.$dirty"
                         role="alert" multipl>
                      <div ng-message="required">
                        <span>CC2 field is required.</span>
                      </div>
                      <div ng-message="md-maxlength">
                        <span>CC2 can't be longer than 3 characters.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="expirationDate" ng-model="vm.formWizard.expirationDate"
                           placeholder="Expiration Date"
                           required>
                    <div ng-messages="wizardStep3.expirationDate.$error"
                         ng-show="wizardStep3.expirationDate.$dirty"
                         role="alert">
                      <div ng-message="required">
                        <span>Expiration date field is required.</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </form>
            </md-tab-body>
          </md-tab>
        </md-tabs>

        <div class="navigation" flex layout="row" layout-align="center center">
          <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                     ng-disabled="msWizard.isFirstStep()">
            Previous
          </md-button>
          <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
          </div>
          <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                     ng-hide="msWizard.isLastStep()"
                     ng-disabled="msWizard.currentStepInvalid()">
            Next
          </md-button>
          <md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();"
                     ng-show="msWizard.isLastStep()"
                     ng-disabled="msWizard.formsIncomplete()">
            Send
          </md-button>
        </div>

      </ms-form-wizard>
      <!-- / FORM WIZARD -->

    </div>


  </div>
  <!-- / CONTENT -->

</div>
