<div id="layout-vertical-navigation"  class="template-layout" layout="row" flex>

    <md-sidenav id="vertical-navigation"
                md-component-id="navigation"  ms-scroll ui-view="navigation"></md-sidenav>

    <div id="content-container" flex layout="column">
        <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar"></md-toolbar>

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll
                    ui-view="content" flex></md-content>
    </div>

    <md-sidenav id="quick-panel" md-theme="default" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel"
                ms-scroll ui-view="quickPanel"></md-sidenav>

</div>
