<div flex="100">
<div layout="column" ng-show="vm.profilePic" class="cropContainer">
  <md-whiteframe class="md-whiteframe-2dp">
    <h2>Please select the area to crop</h2>

    <div ngf-drop ng-model="vm.profilePic" ngf-pattern="image/*"
         class="cropArea">
      <img-crop image="vm.profilePic  | ngfDataUrl"
                result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">
      </img-crop>
    </div>
    <div layout="row">
      <md-button ng-click="vm.uploadProfile(vm.croppedDataUrl)">Confirm</md-button>
      <md-button ng-click="vm.profilePic=null">Cancel</md-button>
    </div>
  </md-whiteframe>
</div>
</div>
<div layout-sm="column" layout="row" flex>
    <div id="tiles" flex>
      <div class="profile-box info-box general md-whiteframe-1dp" ng-hide="vm.hideWelcomeTmp"   layout="column">
        <div class="content pv-16 ph-16">
          <h1>Welcome message</h1>

          <p>Here we welcome the user, and we advise to connect using Linkedin to speed-up the process abnd bla bla
            bla</p>

          <form name="vm.scrubLknForm">
            <div layout="row" flex>
              <md-input-container flex>
                <label>Your Linkedin Public profile URL</label>
                <input ng-model="vm.publicProfileUrl" required>
              </md-input-container>

            </div>
            <div layout="row" layout-xs="column" layout-align="center center">Click this button to retrieve your Linkedin profile
              <md-button type="submit" class="md-raised md-accent" aria-label="Grab Linkedin"
                         ng-disabled="vm.scrubLknForm.$invalid" class="md-blue-700-bg"
                         ng-click="vm.suckLinkedin($event)">Grab my LinkedIn profile
              </md-button>

            </div>
          </form>
          <div layout="column" layout-align="center center">
            <md-button class="md-pink-500-bg" ng-click="vm.hideWelcome(vm.suppressCB)">
              OK
            </md-button>
            <md-checkbox ng-model="vm.suppressCB" aria-label="Checkbox 1">
              Don't show this message again
            </md-checkbox>
          </div>

        </div>

      </div>

        <div class="profile-box info-box general md-whiteframe-1dp"   layout="column">
            <header class="md-accent-bg">
                <div class="title">General Information</div>
            </header>

            <div class="content">

                <form name="vm.userForm">

                        <md-button class="md-accent-bg profileUpBut" ngf-select ng-model="vm.profilePic"
                                   accept="image/*">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            upload profile pic
                        </md-button>


                    <div layout="column" layout-gt-md="row" flex layout-align-gt-md="space-between start">

                        <md-input-container flex>
                            <label>Location</label>
                            <input ng-model="vm.location" required>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Postal Code (no spaces)</label>
                            <input name="postalCode" ng-change="vm.changeRate()" ng-model="vm.postcode"
                                   required="required" md-maxlength="10">

                        </md-input-container>
                    </div>
                  <md-input-container flex>
                    <label>Geo </label>
                    <input name="geoCoords" ng-model="vm.geoCoords"
                           required="required">

                  </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Work On Site or remotely</label>
                        <md-select ng-model="vm.workremote" required>
                            <md-option ng-repeat="workplace in vm.workplaces" value="{{workplace.value}}">
                                {{workplace.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </form>
              <div layout="row">
                <google-places location="vm.rawLocation"></google-places>
                <button ng-click="vm.doSearch()" class="btn btn-large btn-primary">Search</button>
              </div>

              <ui-gmap-google-map center='vm.simpleMarkerMap.center' zoom='vm.simpleMarkerMap.zoom'>
                <ui-gmap-marker coords="vm.simpleMarkerMap.marker.coords"
                                options="vm.simpleMarkerMap.marker.options"
                                idkey="vm.simpleMarkerMap.marker.id"></ui-gmap-marker>
              </ui-gmap-google-map>
              <div layout="row">
                {{vm.simpleMarkerMap}}
              </div>
            </div>

            <footer layout="row" layout-align="space-between center">
                <md-button ng-click="vm.saveUser()" class="md-raised md-accent" aria-label="Use Android">
                    SAVE
                </md-button>
                <span ng-hide="vm.userForm.$valid" class="text-boxed red-bg white-fg">Incomplete</span>
                <span ng-show="vm.userForm.$valid" class="text-boxed green-bg white-fg">Complete</span>
            </footer>
        </div>

        <div class="profile-box info-box work md-whiteframe-1dp"  layout="column">
            <header class="md-accent-bg">
                <div class="title">Professional information</div>
            </header>

            <div class="content">

                <form name="vm.infoForm">

                </form>
            </div>
            <footer layout="row" layout-align="space-between center">
                <md-button ng-click="vm.saveUser()" class="md-raised md-accent" aria-label="Use Android">
                    SAVE
                </md-button>
                <span ng-hide="vm.infoForm.$valid" class="text-boxed red-bg white-fg">Incomplete</span>
                <span ng-show="vm.infoForm.$valid" class="text-boxed green-bg white-fg">Complete</span>
            </footer>
        </div>



        <div class="profile-box groups md-whiteframe-1dp"  layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">Skills</div>
                <div class="more secondary-text">
                    <span>Type a skill then press enter</span>

                </div>
            </header>

            <div class="content">

                <form name="vm.skillsForm">

                  <md-input-container class="md-block">
                    <label>Type in a skill then press enter</label>
                    <input dl-enter-key="vm.transformChip()" ng-model="vm.enterChip" >
                  </md-input-container>
                    <br/>

                    <div class="group text-left" ng-repeat="skill in vm.skillset" layout="row"
                         layout-align="space-between center">

                        <div><span data-ng-click="vm.removeChip(skill.skill)" class="text-boxed">x</span> </div>
                        <div flex>
                            <div class="name">{{skill.skill}}</div>

                        </div>
                        <div>
                            <star-rating ng-model="skill.rating"></star-rating>
                        </div>


                    </div>

                    <md-input-container class="md-block">
                        <label>What makes you stand out?</label>
                        <textarea ng-model="vm.standout" columns="1" md-maxlength="300" required rows="5"></textarea>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Your Level</label>
                        <md-select ng-model="vm.level" required>
                            <md-option ng-repeat="level in vm.levels" value="{{level}}">
                                {{level}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>
            </div>
            <footer layout="row" layout-align="space-between center">
                <md-button ng-click="vm.saveUser()" class="md-raised md-accent" aria-label="Use Android">
                    SAVE
                </md-button>
                <span ng-hide="vm.skillsForm.$valid" class="text-boxed red-bg white-fg">Incomplete</span>
                <span ng-show="vm.skillsForm.$valid" class="text-boxed green-bg white-fg">Complete</span>
            </footer>


        </div>

        <div class="profile-box groups md-whiteframe-1dp"  layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">CV and showcase</div>
                <div class="more secondary-text">
                    <span>Upload here CV, cover letter and any significant document</span>

                </div>
            </header>


            <div class="content" layout="column" layout-align="start stretch">

                <md-input-container flex class="md-block">
                    <label>Your linkedin public profile</label>
                    <input ng-model="vm.publicProfileUrl">
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>Link of your portfolio online</label>
                    <input ng-model="vm.portfolioUrl">
                </md-input-container>


                <table class="simple" ms-responsive-table ng-hide="vm.attachBinaryList.length==0">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Size</th>
                        <th>Upload Date</th>
                        <th class="text-right">&nbsp;</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                    </tfoot>

                    <tbody>
                    <tr ng-repeat="row in vm.attachBinaryList">
                        <td class="name"><a href="{{row.url}}" target="_blank">{{row.description}}</a></td>
                        <td class="office">{{row.size}}MB</td>
                        <td class="position">
                            {{row.created.getDate()}}-{{row.created.getMonth()+1}}-{{row.created.getFullYear()}}
                        </td>
                        <td class="age text-right">
                            <md-button ng-click="vm.killAttach(row)" class="md-icon-button md-primary"
                                       aria-label="delete">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                            </md-button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <form name="vm.AttachForm" novalidate>

                        <md-button class="md-raised md-accent" type="file" ngf-select ngf-multiple="false"
                                   ngf-change="vm.selectUpload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                   name="CVFile" id="CVFile"
                                   ngf-max-size="10MB"
                                   accept="application/pdf,application/vnd.ms-powerpoint,application/msword,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                   ngf-pattern="'.pdf,.docx,.ppt,.pptx'"
                                   ng-model="content.attachBinFile" name="binFile"
                                   ng-disabled="vm.uploadInprogress"
                                   ng-required="true"
                                   required aria-label="upload">Choose a file
                        </md-button>


                        <div flex ng-if="vm.displaySelectedFilename">{{content.attachBinFile.name}}</div>

                        <!--div>{{vm.AttachForm.$valid}} - {{content.attachBinFile.name}} - {{content.attachBinFile.size}} {{vm.AttachForm.CVFile.$error}} {{vm.AttachForm.CVFile.$errorParam}} - size: {{vm.AttachForm.CVFile.size}}</div-->
                        <md-input-container flex class="md-block">
                            <label>Type in a description for this file</label>
                            <input ng-model="vm.attachDescription" ng-required="true"
                                   ng-disabled="content.attachBinFile.$error">
                        </md-input-container>
                        <div ng-show="vm.AttachForm.CVFile.$error.pattern" class="md-warn-fg">Only PDF/DOC/PPT are
                            allowed
                        </div>
                        <div ng-show="vm.AttachForm.CVFile.$error.maxSize" class="md-warn-fg">File too large - Upload
                            max
                            2MB
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-progress-linear flex md-mode="determinate" value="{{vm.bitAttachProgressValue}}"
                                                class="md-accent"></md-progress-linear>
                            <md-button ng-click="vm.uploadAttach(content.attachBinFile)" class="md-raised md-accent"
                                       ng-disabled="!vm.AttachForm.$valid || vm.uploadInprogress">Upload
                            </md-button>
                        </div>

                </form>

            </div>
        </div>


        <div class="profile-box groups md-whiteframe-1dp"  layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">Rates</div>

            </header>

            <div class="content">
                <form name="vm.rateForm">

                    <md-input-container flex class="md-block" flex>
                        <label>What is your employment preference?</label>
                        <md-select ng-model="vm.prefRole" required>
                            <md-option ng-repeat="role in vm.prefRoles" value="{{role.value}}">
                                {{role.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <label>Hourly Rate</label>

                    <div layout="column" layout-gt-md="row" flex>
                        <md-input-container flex>
                            <label>Minimum (£)</label> <input type="number" required="required"
                                                              ng-change="vm.changeRate()" step="any"
                                                              name="rate" ng-model="vm.hourlymin"
                                                              min="1" max="4999"></md-input-container>
                        <md-input-container flex>
                            <label>Epected (£)</label>
                            <input type="number" required="required"
                                   ng-change="vm.changeRate()" step="any"
                                   name="rate" ng-model="vm.hourlymax"
                                   min="1" max="4999">
                        </md-input-container>
                    </div>
                    <md-divider></md-divider>
                    <label>Year Salary</label>

                    <div layout="column" layout-gt-md="row" flex>
                        <md-input-container flex>
                            <label>Minimum (£)</label> <input type="number" required="required"
                                                              ng-change="vm.changeRate()" step="any"
                                                              name="rate" ng-model="vm.yearlymin"
                                                              min="1" max="500000">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Epected (£)</label> <input type="number" required="required"
                                                              ng-change="vm.changeRate()" step="any"
                                                              name="rate" ng-model="vm.yearlymax"
                                                              min="1" max="500000">
                        </md-input-container>
                    </div>
                </form>
            </div>
            <footer layout="row" layout-align="space-between center">
                <md-button ng-click="vm.saveUser()" class="md-raised md-accent" aria-label="Use Android">
                    SAVE
                </md-button>
                <span ng-hide="vm.rateForm.$valid" class="text-boxed red-bg white-fg">Incomplete</span>
                <span ng-show="vm.rateForm.$valid" class="text-boxed green-bg white-fg">Complete</span>
            </footer>
        </div>

    </div>

</div>
