<md-input-container flex class="md-block">
  <label>Your linkedin public profile</label>
  <input ng-model="vm.publicProfileUrl">
</md-input-container>
<md-input-container flex class="md-block">
  <label>Link of your portfolio online</label>
  <input ng-model="vm.portfolioUrl">
</md-input-container>
