<div id="register-v2" layout="row" layout-align="start">
    <div id="register-v2-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span>F</span>
        </div>
        <div class="title" >
            Welcome to the FUSE!
        </div>
        <div class="description" >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
    </div>

    <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
        <div id="register-v2-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>F</span>
            </div>

            <div class="title" >Create an account</div>
            <div class="description" >Sed mollis velit facilisis facilisis viverra
            </div>

            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.form.username" placeholder="Name"

                           required>
                    <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span >Username field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"

                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched" role="alert"
                         multiple>
                        <div ng-message="required">
                            <span >Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"

                           required>
                    <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span >Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"

                           required>
                    <div ng-messages="registerForm.passwordConfirm.$error"
                         ng-show="registerForm.passwordConfirm.$touched" role="alert">
                        <div ng-message="required">
                            <span >Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span >I read and accept</span>
                        <a href="#" class="md-accent-color" >terms and conditions</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"

                           >
                    CREATE MY ACCOUNT
                </md-button>
            </form>

            <div class="login" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" >Already have an account?</span>
                <a class="link" ui-sref="app.pages_auth_login-v2" >Log in</a>
            </div>
        </div>
    </div>
</div>