<div id="awaiting-approval" class="flex-scrollable" layout="column" ms-scroll>
    <div id="awaiting-approval-form-wrapper" layout="column" layout-align="center center">
        <div id="awaiting-approval-form" class="md-whiteframe-8dp">
            <div class="top">
                <div class="logo md-accent-bg">
                    <span>P</span>
                </div>

                <div class="title" >We are reviewing your submission</div>
                <div class="subtitle" >Patience is the virtue of the brave
                </div>

                <timer end-time="vm.endTime" layout="row" layout-wrap>
                    <div flex-xs="50">
                        <div class="value">{{days}}</div>
                        <div class="type" >days</div>
                    </div>

                    <div flex-xs="50">
                        <div class="value">{{hours}}</div>
                        <div class="type" >hours</div>
                    </div>

                    <div flex-xs="50">
                        <div class="value">{{minutes}}</div>
                        <div class="type" >minutes</div>
                    </div>

                    <div flex-xs="50">
                        <div class="value">{{seconds}}</div>
                        <div class="type" >seconds</div>
                    </div>
                </timer>
            </div>

            <form>
                <div class="message" >
                    Lorem IPSUM Lorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUMLorem IPSUM
                </div>


            </form>
        </div>
    </div>
</div>
