<md-progress-linear flex md-mode="indeterminate" ng-if="$root.loadingProgress"></md-progress-linear>
<div md-theme="positive" id="login"  class="scrollable" ms-scroll>
    <div id="login-form-wrapper" md-theme="positive" layout="row" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo">
                <span></span>
            </div>

            <div md-theme="positive" class="title" >Log in to your account</div>
          <div flash-message="10000"></div>
            <form ng-submit="vm.login()" name="vm.loginForm" novalidate>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.username" placeholder="Email"

                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="vm.loginForm.email.$error" ng-show="vm.loginForm.email.$touched" role="alert" multiple>
                        <div ng-message="required">
                            <span >Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.password" placeholder="Password"

                           required>
                    <div ng-messages="vm.loginForm.password.$error" ng-show="vm.loginForm.password.$touched" role="alert">
                        <div ng-message="required">
                            <span >Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-xs="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span >Remember Me</span>
                    </md-checkbox>

                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                       >Forgot Password?</a>
                </div>
<!-- -->
                <md-button type="submit" ladda-button="$root.loadingProgress" data-size="xs" data-style="expand-right" class="md-raised md-accent ladda-button" aria-label="LOG IN"
                           ng-disabled="vm.loginForm.$invalid || vm.loginForm.$pristine"
                           >
                    LOG IN
                </md-button>
            </form>

            <div class="separator">
                <span class="text" >OR</span>
            </div>



            <md-button class="md-raised facebook" ng-click="vm.facebookLogin()">
                <div layout="row" layout-align="center center">
                <span>
                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                    <span >Log in with Facebook</span>
                </span>
                </div>
            </md-button>

            <div class="separator">
                <span class="text" >OR</span>
            </div>


            <div layout="row" layout-align="center center">
                <span>
                    <div class="linkBtn" data-ng-click="vm.linkedInClick()"></div>
                </span>
            </div>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" >Don't have an account?</span>
                <a class="link" ui-sref="app.pages_auth_register" >Create an account</a>
            </div>
        </div>
    </div>
</div>
<div id="dummy">

</div>
