#login {
    height: 100%;


  background: rgba(84,51,85,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84,51,85,1)), color-stop(100%, rgba(102,66,95,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: radial-gradient(ellipse at center, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543355', endColorstr='#66425f', GradientType=1 );


  #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: #FFFFFF;
            text-align: center;

            .logo {
                width: 128px;
                height: 192px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: rgba(255, 255, 255, 1);
                border-radius: 2px;
            }

            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                md-input-container {
                    width: 320px;
                    text-align: left;
                }

                md-checkbox {
                    margin: 0;
                }

                .remember-forgot-password {
                    font-size: 13px;
                    margin-top: 8px;

                    .remember-me {
                        margin-bottom: 16px
                    }

                    .forgot-password {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 16px
                    }
                }

                .md-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .register {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }

            .separator {
                font-size: 15px;
                font-weight: 600;
                margin: 24px auto 16px auto;
                position: relative;
                overflow: hidden;
                width: 100px;
                color: rgba(0, 0, 0, 0.54);

                .text {
                    display: inline-block;
                    vertical-align: baseline;
                    position: relative;
                    padding: 0 8px;
                    z-index: 9999;

                    &:before, &:after {
                        content: '';
                        display: block;
                        width: 30px;
                        position: absolute;
                        top: 10px;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    &:before {
                        right: 100%;
                    }

                    &:after {
                        left: 100%;
                    }
                }
            }

            .md-button {

                &.google,
                &.facebook {
                    width: 192px;
                    text-transform: none;
                    color: #FFFFFF;
                    font-size: 13px;

                    md-icon {
                        color: #FFFFFF;
                        margin: 0 8px 0 0;
                    }
                }

                &.google {
                    background-color: #D73D32;
                }

                &.facebook {
                    background-color: rgb(63, 92, 154);
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #login {

        #login-form-wrapper {
            padding: 16px;

            #login-form {
                padding: 24px;
                width: 100%;

                form {

                    md-input-container {
                        width: 100%;
                    }

                    .md-button {
                        width: 90%;
                    }
                }

                .md-button {

                    &.google,
                    &.facebook {
                        width: 80%;
                    }
                }
            }
        }
    }

}
