<div class="template-8" md-theme="positive">
    <div class="content pv-24 ph-16">

        <div class="title h2" ng-if="card.workRole">
            {{card.workRole}}
        </div>

        <div class="text pt-8" ng-if="card.description">
            {{card.description}}
        </div>
    </div>
    <div class="buttons m-8">

        <md-button ng-click="card.objPointer.editTimelineItem(card)" class="md-icon-button mr-16"
                   aria-label="Favorite">
            <md-icon md-font-icon="icon-table-edit" class="s24"></md-icon>
        </md-button>
        <md-button ng-click="card.objPointer.deleteTimelineItem(card)" class="md-icon-button mr-16"
                   aria-label="Favorite">
            <md-icon md-font-icon="icon-delete" class="s24"></md-icon>
        </md-button>
        <md-button class="md-raised md-accent" ng-hide="true" ng-click="card.objPointer.saveTimelineItem(card)"
                   aria-label="Use Android">SAVE
        </md-button>

    </div>
</div>
