<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo">
                <span></span>
            </div>
            <h1 style="display: none;">Reset Your Password<span style="display: none;" id='app'></span></h1>
            <div class="title" >Change password for user <span class="md-accent" id="username_label"></span><br/>
            minimun length 8 chars</div>
            <div id="error" class="errorazzo"></div>
          <div flash-message="10000"></div>
          <form name="forgotPasswordForm" action='#' novalidate method='POST'>

                <md-input-container flex md-no-float>
                    <input name="new_password" type="password" ng-minlength="8" ng-model="vm.password" type="password" placeholder="Type in your new password" required="required">
                </md-input-container>

                <input name='utf-8' type='hidden' value='✓' />
                <input name="username" id="username" type="hidden" />
                <input name="token" id="token" type="hidden" />

                <md-button  type="submit" class="md-raised md-accent" aria-label="CHANGE MY PASSWORD"
                            ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">
                    CHANGE MY PASSWORD
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" >Go back to login</a>
            </div>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>
    <!--
    window.onload = function() {
        var urlParams = {};
        (function () {
            var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
                    tokenize = /([^&=]+)=?([^&]*)/g,
            // decodeURIComponents escapes everything but will leave +s that should be ' '
                    re_space = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); },
            // Substring to cut off the leading '?'
                    querystring = window.location.search.substring(1);

            while (pair = tokenize.exec(querystring))
                urlParams[re_space(pair[1])] = re_space(pair[2]);
        })();

        var base = 'https://www.parse.com';
        var id = urlParams['id'];
        document.getElementById('form').setAttribute('action', base + '/apps/' + id + '/request_password_reset');
        document.getElementById('username').value = urlParams['username'];
        document.getElementById('username_label').appendChild(document.createTextNode(urlParams['username']));

        document.getElementById('token').value = urlParams['token'];
        if (urlParams['error']) {
            document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
        }
        if (urlParams['app']) {
            document.getElementById('app').appendChild(document.createTextNode(' for ' + urlParams['app']));
        }
    };
    //-->
</script>
