<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo">
                <span></span>
            </div>

            <div class="title" >Recover your password</div>
          <div flash-message="10000"></div>
            <form name="forgotPasswordForm" novalidate ng-submit="vm.recover()">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address"

                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="forgotPasswordForm.email.$error" ng-show="forgotPasswordForm.email.$touched"
                         role="alert" multiple>
                        <div ng-message="required">
                            <span >Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine"

                           >
                    SEND RESET LINK
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" >Go back to login</a>
            </div>
        </div>
    </div>
</div>
