<div flex layout="row" layout-align="start center">
    <label for="ms-search-bar-input">
        <md-icon id="ms-search-bar-expander" md-font-icon="icon-magnify" class="icon s24"></md-icon>
        <md-icon id="ms-search-bar-collapser" md-font-icon="icon-close" class="icon s24"></md-icon>
    </label>
    <input id="ms-search-bar-input" type="text" ng-model="global.search" placeholder="Search"
            flex>
</div>
