<div id="landing-candidate"  class="md-accent-bg" layout="column" flex>
  <div id="landing-candidate-selector" layout="column" layout-align="start center" flex>
    <img class="profile-image avatar huge"
         ng-src="{{$root.currentProfilePic || 'assets/images/avatars/katherine.jpg'}}">
   <br/>
    <span class="candidate-name">Candidate Name</span>
    <span class="candidate-role">Candidate Role</span>
    <div class="line-separator"></div>
    <span class="hilight-text">what would you like to do today?</span>
    <!-- BOARD LIST -->
    <div class="landing-candidate-list" layout="row" layout-align="center center" layout-wrap>


      <div class="landing-candidate-list-item add-new-board" layout="column" layout-align="center center"
           ng-click="vm.jumpToProfile(0)">
        <md-icon md-svg-src="assets/icons/briefs.svg" class="s48"></md-icon>
        <div class="board-name">BRIEFS</div>
        <div class="board-description">view latest briefs</div>
      </div>

      <div class="landing-candidate-list-item add-new-board" layout="column" layout-align="center center"
           ng-click="vm.jumpToProfile(1)">
        <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
        <div class="board-name">AVAILABILITY</div>
        <div class="board-description">edit your calendar</div>
      </div>

      <div class="landing-candidate-list-item add-new-board" layout="column" layout-align="center center"
           ng-click="vm.jumpToProfile(2)">
        <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
        <div class="board-name">PORTFOLIO</div>
        <div class="board-description">Add your latest work</div>
      </div>

      <div class="landing-candidate-list-item add-new-board" layout="column" layout-align="center center"
           ng-click="vm.jumpToProfile(3)">
        <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
        <div class="board-name">WORK HISTORY</div>
        <div class="board-description">Update your CV</div>
      </div>

      <div class="landing-candidate-list-item add-new-board" layout="column" layout-align="center center"
           ng-click="vm.jumpToProfile(4)">
        <md-icon md-font-icon="icon-plus-circle" class="s48"></md-icon>
        <div class="board-name">PROFILE</div>
        <div class="board-description">Update your profile</div>
      </div>


    </div>
    <!-- / BOARD LIST -->

  </div>

</div>
