#landing-candidate {
  min-height: 100%;
  background: rgba(84,51,85,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84,51,85,1)), color-stop(100%, rgba(102,66,95,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: radial-gradient(ellipse at center, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543355', endColorstr='#66425f', GradientType=1 );



  #landing-candidate-selector {
    margin-top: 88px;

    .landing-candidate-list {
      padding: 32px 0;

      .landing-candidate-list-item {
        border:thin solid #65455d;
        min-width: 210px;
        width: 210px;
        padding: 24px 0;
        margin: 16px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.12);
        cursor: pointer;

        &:hover {
          box-shadow: $whiteframe-shadow-4dp;
        }

        .board-name {
          padding-top: 16px;
          font-weight: 500;
          letter-spacing: 2px;
        }
        .board-description {
          font-weight: normal;
        }
      }
    }
  }

}
