<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-image">F</span>
    <span class="logo-text">FUSE</span>
  </div>

  <md-icon class="fold-toggle s18" md-font-icon="icon-backburger"
           ng-click="$root.toggleSidenav('navigation')"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="false" ms-scroll="vm.msScrollOptions"></ms-navigation>
