<div id="mail" class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
                ng-include="'app/main/apps/mail/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md
                           aria-label="Toggle Sidenav" >
                    <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                </md-button>

                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.search" type="text" placeholder="Search for an e-mail or contact"
                           >
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- MAIL READ PANE TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeMailPaneIndex === 1">
                <md-button class="md-icon-button"
                           ng-click="vm.closeReadPane()"
                           aria-label="Back"
                           >
                    <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                </md-button>

            </div>
            <!-- / MAIL READ PANE TOOLBAR -->

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeMailPaneIndex === 0">

                <div layout="row" layout-align="start center">
                    <md-checkbox class="no-label" aria-label="{{vm.allChecked?'Uncheck All':'Check All'}}"
                                 ng-checked="vm.allChecked" ng-click="vm.checkAll()"></md-checkbox>
                    <md-menu>
                        <md-button class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Filters"
                                   >
                            <md-icon md-font-icon="icon-menu-down"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="All" >
                                    All
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="None"
                                           >None
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Read"
                                           >Read
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Unread"
                                           >Unread
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Starred"
                                           >Starred
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Unstarred"
                                           >Unstarred
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <div class="divider-vertical" hide show-gt-sm></div>

                    <md-button class="md-icon-button" aria-label="Archive"
                                hide show-gt-sm>
                        <md-icon md-font-icon="icon-archive"></md-icon>
                        <md-tooltip><span >Archive</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Spam"
                                hide show-gt-sm>
                        <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                        <md-tooltip><span >Spam</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Delete"
                                hide show-gt-sm>
                        <md-icon md-font-icon="icon-delete"></md-icon>
                        <md-tooltip><span >Delete</span></md-tooltip>
                    </md-button>

                    <div class="divider-vertical"></div>

                    <md-button class="md-icon-button" aria-label="Move to"
                                hide show-gt-sm>
                        <md-icon md-font-icon="icon-folder"></md-icon>
                        <md-tooltip><span >Move to</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Labels"
                                hide show-gt-sm>
                        <md-icon md-font-icon="icon-label"></md-icon>
                        <md-tooltip><span >Labels</span></md-tooltip>
                    </md-button>

                    <md-menu hide-gt-sm>
                        <md-button class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Mail Actions"
                                   >
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="Archive" >
                                    <md-icon md-font-icon="icon-archive"></md-icon>
                                    <span >Archive</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Spam" >
                                    <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                                    <span >Spam</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Delete" >
                                    <md-icon md-font-icon="icon-delete"></md-icon>
                                    <span >Delete</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Move To" >
                                    <md-icon md-font-icon="icon-folder-move"></md-icon>
                                    <span >Move To</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Labels" >
                                    <md-icon md-font-icon="icon-label"></md-icon>
                                    <span >Labels</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <div layout="row" layout-align="start center" >
                    <span class="page-info" hide-sm>1 - 100 of 980</span>

                    <md-button class="md-icon-button arrow" aria-label="Previous"
                               >
                        <md-icon md-font-icon="icon-chevron-left"></md-icon>
                        <md-tooltip><span >Previous</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button arrow" aria-label="Next"
                               >
                        <md-icon md-font-icon="icon-chevron-right"></md-icon>
                        <md-tooltip><span >Next</span></md-tooltip>
                    </md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT WRAPPER -->
            <div class="content-wrapper" layout="row" flex>

                <md-tabs md-selected="vm.activeMailPaneIndex" class="mail-tabs" md-dynamic-height="{{vm.dynamicHeight}}"
                         flex>
                    <md-tab>
                        <md-tab-label>Mails</md-tab-label>
                        <md-tab-body>
                            <!-- MAIL LIST PANE -->
                            <div class="content mail-list-pane"
                                 ng-include="'app/main/apps/mail/views/list/list-view.html'" ms-scroll>
                            </div>
                            <!-- / MAIL LIST PANE -->
                        </md-tab-body>
                    </md-tab>

                    <md-tab>
                        <md-tab-label>Read Pane</md-tab-label>
                        <md-tab-body>
                            <!-- MAIL READ PANE -->
                            <div class="content mail-read-pane"
                                 ng-include="'app/main/apps/mail/views/read/read-view.html'" ms-scroll>
                            </div>
                            <!-- / MAIL READ PANE -->
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </div>
            <!-- / CONTENT WRAPPER -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
