/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html, body {
  color:white;
}

$border-color: #715467;
$brillant-text:#fcab53;

.candidate-name {
  font-size:24px;
  letter-spacing: 2px;
}

.candidate-role {
  font-size:12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hilight-text {
  font-size:12px;
  color:$brillant-text;
  text-transform: uppercase;
}

.line-separator {
margin-top:15px;
  margin-bottom: 35px;
  height:2px;
  width:15px;
  border-bottom:3px solid $border-color;

}

/* tabs */
md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
  color: $brillant-text;
  text-transform: uppercase;
  letter-spacing:2px;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active {
  color: $brillant-text;
}
/* bottom slim line */
md-tabs.md-default-theme md-tabs-wrapper, md-tabs md-tabs-wrapper {
  border-color:white;
}
/* end of tabs */
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color:$brillant-text;
  background: $brillant-text;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
  color:white;
}
md-input-container.md-default-theme .md-input, md-input-container .md-input {
  text-shadow: none;
}
md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
  color:$brillant-text;
}
md-select-menu.md-default-theme md-option, md-select-menu md-option {
  color:white;
}
md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
  text-shadow: none;
}

  /* avatar */
.avatar.huge {
  border: 4px solid $border-color;
}



/* ed of fonts */

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


