<md-dialog md-theme="positive" class="task-dialog" aria-label="New Task">
    <form name="vm.taskForm" id="vm.taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content id="brief-dialog" schroll-bottom="vm.jobAttachProgressValue"  ms-scroll>
            <md-input-container class="md-block">
                <label >Company Name</label>
                <input name="companyName" ng-model="vm.event.companyName" required>
                <div ng-messages="taskForm.title.$error" ng-show="taskForm.title.$touched" role="alert">
                    <div ng-message="required">
                        <span >Company name field is required</span>
                    </div>
                </div>
            </md-input-container>
          <md-input-container class="md-block">
            <label >Work Role</label>
            <input name="companyName" ng-model="vm.event.workRole" required>
            <div ng-messages="taskForm.title.$error" ng-show="taskForm.title.$touched" role="alert">
              <div ng-message="required">
                <span >Work role is required</span>
              </div>
            </div>
          </md-input-container>
            <div layout="row">
                <md-radio-group ng-model="vm.event.jobType" required>
                    <md-radio-button value="C" class="md-primary">Contract role</md-radio-button>
                    <md-radio-button value="P">Permanent role</md-radio-button>
                </md-radio-group>
            </div>

          <div layout-sm="column" layout="row"  >
            <div flex class="date-container">
              <label >Start Date</label>
              <md-datepicker md-theme="default" flex ng-model="vm.event.beginDate" md-placeholder="Start Date"></md-datepicker>
            </div>

            <div flex class="date-container"  >
              <label >End Date</label>
              <md-datepicker md-theme="default"  flex ng-model="vm.event.endDate" md-placeholder="Due Date"></md-datepicker>
            </div>
          </div>
          <div layout="row">
            <md-checkbox flex ng-model="vm.event.currentWork" ng-click="" aria-label="I currently work here">
              Current job
            </md-checkbox>
          </div>

          <md-input-container class="md-block">
            <label>Description of your role</label>
            <textarea flex required name="clientName"  ng-model="vm.event.description" columns="1" rows="5" md-maxlength="600"></textarea>

          </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newRole" ng-click="vm.saveRole(vm.event.index)"
                           class="send-button md-accent md-raised"
                           ng-disabled="vm.taskForm.$invalid || vm.taskForm.$pristine"
                           aria-label="SAVE" >
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.newRole" ng-click="vm.addNewRole()"
                           class="send-button md-accent md-raised"
                           ng-disabled="vm.taskForm.$invalid || vm.taskForm.$pristine || $root.loadingProgress"
                           aria-label="Add Task" >
                    ADD ROLE
                </md-button>




            </div>

            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteRole(vm.event.index)" aria-label="Delete"
                           >
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span >DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
