<div class="photos-videos">
    <div layout="row" flex layout-align="center center" ng-hide="vm.portfolio.length>0">
        <md-card>
            <div class="content pv-16 ph-16">
                <h1>You havan't added any work yet</h1>

                <p>This is optional but blah blah blah blah</p>
            </div>
        </md-card>

    </div>
    <div deckgrid class="deckgrid clearfix" source="vm.portfolio">
        <div class="photo">
            <div class="photo-wrapper">
                <img src="" data-ng-src="{{card.src}}">
            </div>
            <div class="photo-description">
                <p>{{card.description}}</p>
                <md-icon md-font-icon="icon-delete" data-ng-click="mother.doSomething(card)" class="s24"></md-icon>

            </div>
        </div>
    </div>
</div>