<md-progress-linear flex md-mode="indeterminate" ng-if="$root.loadingProgress"></md-progress-linear>
<div id="register" md-theme="positive" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo">
                <span></span>
            </div>

            <div class="title" >Create an account</div>
          <div flash-message="10000"></div>
            <form ng-submit="vm.registerUser($event)" name="vm.registerForm" novalidate>
                <div layour="column" layout-gt-sm="row">
                <md-input-container class="md-block" md-no-float>
                    <input name="firstname" ng-model="vm.firstname" placeholder="First Name"

                           required>
                    <div ng-messages="vm.registerForm.firstname.$error" ng-show="vm.registerForm.firstname.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span >First Name is required</span>
                        </div>
                    </div>
                </md-input-container>
                    <md-input-container class="md-block" md-no-float>
                        <input name="lastname" ng-model="vm.lastname" placeholder="Last Name"

                               required>
                        <div ng-messages="vm.registerForm.lastname.$error" ng-show="vm.registerForm.lastname.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span >Last Name is required</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.email" placeholder="Email"

                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="vm.registerForm.email.$error" ng-show="vm.registerForm.email.$touched" role="alert"
                         multiple>
                        <div ng-message="required">
                            <span >Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <div layour="column" layout-gt-sm="row">
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="pw" id="pw" ng-model="vm.password" placeholder="Password"

                           required>
                    <div ng-messages="vm.registerForm.pw.$error" ng-show="vm.registerForm.pw.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span >Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.passwordConfirm"
                           placeholder="Password (Confirm)"

                           required>
                    <div ng-messages="vm.registerForm.passwordConfirm.$error"
                         ng-show="registerForm.passwordConfirm.$touched" role="alert">
                        <div ng-message="required">
                            <span >Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>
                </div>

                <div layout="row" layout-align="center top">
                    <p>Password strenght:<span ng-class="[vm.pwdclass]" class="text-boxed md-primary-bg" >{{vm.pwdstrenghtlabel}}</span></p>
                </div>

                <div layout="row" layout-align="center center" >
                    <div
                            vc-recaptcha
                            theme="'light'"
                            key="vm.model.key"
                            on-create="vm.setWidgetId(widgetId)"
                            on-success="vm.setResponse(response)"
                            on-expire="vm.cbExpiration()"
                    ></div>
                </div>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="vm.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span >I read and accept</span>
                        <a href="#" class="md-accent-color" ng-click="vm.showTerms($event)" >terms and conditions</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine"

                           >
                    CREATE MY ACCOUNT
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text" >Already have an account?</span>
                <a class="link" ui-sref="app.pages_auth_login" >Log in</a>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="termsandcond.tmpl.html">
        <md-dialog md-theme="positive" aria-label="Terms & Conditions" style="max-width:800px">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Terms & Conditions</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="answer('not applicable')">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="Container-body">
                        <h1>Terms of website use</h1>
                        <h2>Please read these terms and conditions carefully before using this site</h2>
                        <h2>Terms Of Website Use</h2>
                        <p>Welcome to Hybrid Recruitment. These terms of use (together with the documents referred to in these terms) tell you the terms of use on which you may make use of our website <a href="http://www.hybridrecruitment.com">www.hybridrecruitment.com</a> and app.hybridrecruitment.com (our site). Use of our site includes accessing, browsing, or registering to use our site.</p>
                        <p>Please read these terms of use carefully before you start to use our site, as these will apply to your use of our site. We recommend that you print a copy of this for future reference.</p>
                        <p>By using our site, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms of use, you must not use our site.</p>
                        <h2>Other Applicable Terms</h2>
                        <p>These terms of use refer to the following additional terms, which also apply to your use of our site:</p>
                        <p>Our <a href="pages/privacy-policy">Privacy Policy</a>, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>
                        <p>Our Terms of Engagement will apply to all Assignments made between Freelancers and Hirers (as defined in such Terms of Engagement).</p>
                        <p>Other additional terms may be presented to you in connection with your use of particular features of our site.</p>
                        <p>You may also be subject to additional terms and conditions from third parties that may apply when you purchase products or services or use or download software from third parties, including your internet provider's terms and conditions.</p>
                        <h2>Information About Us</h2>
                        <p><a href="http://www.hybridrecruitment.com">www.hybridrecruitment.com</a> is a website operated by Hybrid Recruitment Limited. Hybrid Recruitment &nbsp;Limited is registered in England and Wales with company number 08670197. Our registered office is Hybrid Recruitment Ltd, 34 Cranborne Avenue, Westcroft, Milton Keynes. Buckinghamshire MK4 4ET. Our VAT registration number is 191884565.</p>
                        <p><a href="http://www.hybridrecruitment.com">www.hybridrecruitment.com</a> is a web platform operated by us to facilitate the introduction of freelance workers to persons or organisations requiring help with a project.</p>
                        <h2>Changes To These Terms</h2>
                        <p>We may revise these terms of use at any time by amending this page.</p>
                        <p>Please check this page from time to time to take notice of any changes we made, as they are binding on you.</p>
                        <h2>Changes To Our Site</h2>
                        <p>We may update our site from time to time, and may change the content at any time. However, please note that any of the content on our site may be out of date at any given time, and we are under no obligation to update it.</p>
                        <p>We do not guarantee that our site, or any content on it, will be free from errors or omissions.</p>
                        <h2>Accessing Our Site</h2>
                        <p>Our site is made available free of charge.</p>
                        <p>Use of our site may require one or more compatible devices, internet access and a subscription to a wireless mobile data service. Such devices, access and services are not provided by us. You are responsible for obtaining and paying for such devices and other services including, without limitation, all usage charges related thereto. Such devices and services will be subject to the terms and conditions of the third parties who provide them. Our site may not work or be available with all devices or wireless carriers.</p>
                        <p>You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>
                        <p>We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. Access to our site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our site without notice. We will not be liable to you if for any reason our site is unavailable at any time or for any period.</p>
                        <h2>Your Networks</h2>
                        <p>By registering with our site, you give us permission to access your information on your networks (for example, your LinkedIn profile and connections) to the extent permitted by such networks&rsquo; privacy settings. Our site will display keywords from such personal information. Occasionally we may update your information obtained from these networks. Therefore, you may not see the same information when you enter the application on subsequent visits because your personal information may have been updated.</p>
                        <h2>Your Account And Password</h2>
                        <p>If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>
                        <p>We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.</p>
                        <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at help@hybridrecruitment.com.</p>
                        <h2>Intellectual Property Rights</h2>
                        <p>We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
                        <p>You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.</p>
                        <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
                        <p>Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.</p>
                        <p>You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
                        <p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
                        <h2>No Warranties</h2>
                        <p>Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up-to-date.</p>
                        <p>In particular (but without limitation) we, our suppliers and licensors give no warranty that (i) our site will meet your requirements; (ii) our site will be provided on an uninterrupted, timely, secure or error-free basis; (iii) any information obtained by you using our site will be accurate, up-to-date or reliable; or (iv) any defects or errors in any software (including updates and upgrades thereto) provided to you as part of or in connection with your use of our site will be corrected.</p>
                        <h2>Limitation Of Our Liability</h2>
                        <p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
                        <p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied.</p>
                        <p>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
                        <ol>
                            <li>
                                <p>use of, or inability to use, our site; or</p>
                            </li>
                            <li>
                                <p>use of or reliance on any content displayed on our site.</p>
                            </li>
                            <li>
                                <p>Please note that in particular, we will not be liable for:loss of profits, sales, business, or revenue;</p>
                            </li>
                            <li>
                                <p>business interruption;</p>
                            </li>
                            <li>
                                <p>loss of anticipated savings;</p>
                            </li>
                            <li>
                                <p>loss of business opportunity, goodwill or reputation; or</p>
                            </li>
                            <li>
                                <p>any indirect or consequential loss or damage.</p>
                            </li>
                        </ol>
                        <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.</p>
                        <p>We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</p>
                        <p>Different limitations and exclusions of liability will apply to any liability relating to an Assignment, which will be set out in our Terms of Engagement.</p>
                        <h2>Indemnity</h2>
                        <p>You will protect, indemnify, defend and hold harmless us, our directors, officers, employees, agents, partners, suppliers and licensors from any third party claim or demand, including reasonable lawyers' fees, relating to or arising from (a) your uploading any content to our site; (b) your use of our site and activities occurring during such use of our site; (c) any violation by you of these Terms; or (d) your violation of any third party rights. This obligation will survive the termination or expiration of these Terms and your use of our site.</p>
                        <h2>Uploading Content To Our Site</h2>
                        <p>Whenever you make use of a feature that allows you to upload content to our site, or to make contact with other users of our site, you must comply with the content standards set out in our Acceptable Use Policy.</p>
                        <p>You warrant that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty. [If you are a consumer user, this means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.]</p>
                        <p>Any content you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such content for any purpose.</p>
                        <p>We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
                        <p>We will not be responsible, or liable to any third party, for the content or accuracy of any content posted by you or any other user of our site.</p>
                        <p>We have the right to remove any posting you make on our site if, in our opinion, your post does not comply with the content standards set out in our Acceptable Use Policy.</p>
                        <p>The views expressed by other users on our site do not represent our views or values.</p>
                        <h2>Linking To Our Site</h2>
                        <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
                        <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
                        <p>You must not establish a link to our site in any website that is not owned by you.</p>
                        <p>Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.</p>
                        <p>We reserve the right to withdraw linking permission without notice.</p>
                        <p>The website in which you are linking must comply in all respects with the content standards set out in our Acceptable Use Policy.</p>
                        <p>If you wish to make any use of content on our site other than that set out above, please contact hellp@yhybridrecruitment.com.</p>
                        <h2>THIRD PARTY LINKS AND RESOURCES IN OUR SITE</h2>
                        <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.</p>
                        <p>We have no control over the contents of those sites or resources.</p>
                        <h2>Viruses</h2>
                        <p>We do not guarantee that our site will be secure or free from viruses.</p>
                        <p>You are responsible for configuring your information technology, computer programmes and platform in order to access our site. You should use your own virus protection software.</p>
                        <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
                        <h2>Termination</h2>
                        <p>We reserve the right to terminate these Terms or our services at any time. We may suspend or terminate your access to our site or any portion thereof at any time, if we believe you have violated these Terms without notice. You may discontinue your use of our site at any time. Neither we nor our licensors or service providers will be liable to you for any termination of your access to our site.</p>
                        <h2>Notices</h2>
                        <p>We may give you all notices (including legal process) that we are required to give by any lawful method, including by posting notice on our site or by sending it to any email or postal address that you provide to us. You agree to keep your email and mailing addresses current and to check for notices posted on our site.</p>
                        <h2>Applicable Law</h2>
                        <p>If you are a consumer, please note that these terms of use, its subject matter and its formation, are governed by English law. You and we both agree to that the courts of England and Wales will have non-exclusive jurisdiction. However, if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.</p>
                        <p>If you are a business, these terms of use, its subject matter and its formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.</p>
                        <h2>Contact Us</h2>
                        <p>To contact us, please email help@hybridrecruitment.com.</p>
                        Thank you for visiting our site.

                    </div>
                </md-dialog-content>
                <div class="md-actions" layout="row">

                    <span flex></span>

                    <md-button ng-click="closeTerms()" class="md-primary">
                        Close
                    </md-button>
                </div>

            </form>
        </md-dialog>
    </script>

</div>
