#register {
    height: 100%;
  height: 100%;


  background: rgba(84,51,85,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84,51,85,1)), color-stop(100%, rgba(102,66,95,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  background: radial-gradient(ellipse at center, rgba(84,51,85,1) 0%, rgba(102,66,95,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543355', endColorstr='#66425f', GradientType=1 );

    #register-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #register-form {

            padding: 32px;
            margin: 32px;
            background: #FFFFFF;
            text-align: center;

            label {
                text-align: left;
            }

            .logo {
                width: 128px;
                height: 192px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                margin: 16px 0 32px 0;
                font-size: 17px;
            }

            form {
                width: 100%;
                text-align: left;

                md-checkbox {
                    margin: 0;
                }

                .terms {
                    font-size: 13px;
                    margin: 16px 0 32px 0;

                    a {
                        margin-left: 4px;
                    }
                }

                .md-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #register {

        #register-form-wrapper {
            padding: 16px;

            #register-form {
                padding: 24px;
                width: 100%;

                form {

                    md-input-container {
                        width: 100%;
                    }

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}
