//colors
$color_killarney_approx: #3c763d;
$color_willow_brook_approx: #dff0d8;
$color_beryl_green_approx: #d6e9c6;
$color_pixie_green_approx: #c9e2b3;
$color_lunar_green_approx: #2b542c;
$color_calypso_approx: #31708f;
$color_link_water_approx: #d9edf7;
$color_charlotte_approx: #bce8f1;
$color_blizzard_blue_approx: #a6e1ec;
$color_san_juan_approx: #245269;
$color_pesto_approx: #8a6d3b;
$color_solitaire_approx: #fcf8e3;
$color_champagne_approx: #faebcc;
$color_wheat_approx: #f7e1b5;
$color_shingle_fawn_approx: #66512c;
$color_apple_blossom_approx: #a94442;
$color_vanilla_ice_approx: #f2dede;
$color_oyster_pink_approx: #ebccd1;
$color_cavern_pink_approx: #e4b9c0;
$color_lotus_approx: #843534;
$black: #000;
$white: #fff;

//@extend-elements
//original selectors
//.alert-dismissable .close, .alert-dismissible .close
%extend_1 {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

//original selectors
//.close:hover, .close:focus
%extend_2 {
   color: $black;
   text-decoration: none;
   cursor: pointer;
   filter: alpha(opacity=50);
   opacity: .5;
 }

//original selectors
//.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active
%extend_3 {
   opacity: 0;
 //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
 transform: translate3d(100px, 0, 0);
   display: block !important;
 }

//original selectors
//.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active
%extend_4 {
   opacity: 1;
   display: block !important;
 //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
 transform: translate3d(0px, 0, 0);
 }


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
border-radius: 4px;
h4 {
  margin-top: 0;
  color: inherit;
}
.alert-link {
  font-weight: bold;
}
> p {
    margin-bottom: 0;
+ p {
    margin-top: 5px;
  }
}
> ul {
    margin-bottom: 0;
  }
}
.alert-dismissable {
  padding-right: 35px;
.close {
@extend %extend_1;
}
}
.alert-dismissible {
  padding-right: 35px;
.close {
@extend %extend_1;
}
}
.alert-success {
  color: $color_killarney_approx;
  background-color: $color_willow_brook_approx;
  border-color: $color_beryl_green_approx;
hr {
  border-top-color: $color_pixie_green_approx;
}
.alert-link {
  color: $color_lunar_green_approx;
}
}
.alert-info {
  color: $color_calypso_approx;
  background-color: $color_link_water_approx;
  border-color: $color_charlotte_approx;
hr {
  border-top-color: $color_blizzard_blue_approx;
}
.alert-link {
  color: $color_san_juan_approx;
}
}
.alert-warning {
  color: $color_pesto_approx;
  background-color: $color_solitaire_approx;
  border-color: $color_champagne_approx;
hr {
  border-top-color: $color_wheat_approx;
}
.alert-link {
  color: $color_shingle_fawn_approx;
}
}
.alert-danger {
  color: $color_apple_blossom_approx;
  background-color: $color_vanilla_ice_approx;
  border-color: $color_oyster_pink_approx;
hr {
  border-top-color: $color_cavern_pink_approx;
}
.alert-link {
  color: $color_lotus_approx;
}
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: $black;
//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
text-shadow: 0 1px 0 $white;
  filter: alpha(opacity=20);
  opacity: .2;
&:hover {
 @extend %extend_2;
 }
&:focus {
 @extend %extend_2;
 }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.alertIn {
//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
&.ng-hide-remove {
 @extend %extend_3;
&.ng-hide-remove-active {
 @extend %extend_4;
 }
}
}
.alertOut {
//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
&.ng-hide-add {
 @extend %extend_4;
&.ng-hide-add-active {
 @extend %extend_3;
 }
}
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}